* {
  box-sizing: border-box;
}

.top-nav-bar {
  height: 50px;
  background-color: #118BC0;
}
.top-nav-bar img {
  width: 40px;
  padding: 0;
  margin: 5px 10px;
}

.top-nav-bar nav {
  color: #fff;
  margin: 0 auto;

  display: inline-block;
}

.hero {
  background-image: url("../assets/crowd.jpg");
  background-color: #344051;
  background-size: cover;
  height: 1300px;

}

h1 {
  padding: 160px 0 20px 0;
  font-size: 35px;
  font-weight:400;
}

h2 {
  font-size: 16px;
  font-weight: normal;
  padding-bottom: 30px;
}

h1, h2, .create-website {
  color: #fff;
  margin: 0 auto;
  text-align: center;
}

.create-website.border {
  background-color: #118BC0;
  width: 230px;
  height: 70px;
  border: 10px solid #212934
}

.create-website a {
  text-decoration: none;
  color: #fff;
  margin-top: 15px;
  float: left;
  padding-left: 42px;
}

 .arrow {
  margin: 135px auto;
  margin-top: 232px;
  height: 20px;
  width: 50px;
  background-color: #fff;
}

section.feature div {
  margin: 0 auto 30px ;
  background-color: #fff;
  height: 70px;
  width: 300px;

}

.transition p {
  background-color: #E8F0F5;
  height: 190px;
  padding: 0;
  margin: 0;
  font-size: 25px;
  line-height: 30px;
}

section.features  {
  background: #D1D3D7;
  padding: 30px 10px;
}

section.features article {
  background: #fff;
  height: 215px;
  color: #fff;
  margin: 0 0 30px 0;
}

.footer {
  padding: 98px 0 20px 0;
  background: #E8F0F5;
}
.create-website {
  background-color: #118BC0;
  width: 230px;
  height: 70px;
}

.create-website a {
  display: block;
  margin: 0 auto;
}

footer.main {
  background: #000000;
  height: 135px;
}

nav .bottom-nav {
  text-align: center;
}

nav.bottom-nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 17px 0 0 ;
}
footer.main h4 {
  width: 132px;
  height: 25;
  background: #fff;
  margin: 0 auto;
  text-indent: -99999px;
}




  /**/
